CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_DEVICE_x86_64_DEVICE_generic=y
# CONFIG_TARGET_MULTI_PROFILE is not set
# CONFIG_TARGET_ALL_PROFILES is not set
# CONFIG_ALL_KMODS is not set
# CONFIG_ALL_NONSHARED is not set
CONFIG_PACKAGE_agent-netd=y
CONFIG_PACKAGE_agentd=y
CONFIG_PACKAGE_agent-gw=y
CONFIG_PACKAGE_agent-adapter=y
CONFIG_PACKAGE_nexus-cloud-connector=y
CONFIG_PACKAGE_luci-app-agent-router=y
